<!DOCTYPE html>
<html>
<head>
    <title>{{ news.title }}</title>
    <style>
        body {
            background: #1976d2;
            font-family: Arial;
        }

        .container {
            width: 70%;
            margin: 50px auto;
            background: white;
            padding: 30px;
            border-radius: 15px;
        }

        img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        a {
            color: blue;
        }
    </style>
</head>
<body>

<div class="container">

    <h1>{{ news.title }}</h1>

    {% if news.image %}
        <img src="{{ news.image.url }}">
    {% endif %}

    <p>{{ news.body }}</p>

    <br>
    <a href="/">⬅ Orqaga</a>

</div>

</body>
</html>
